*{
    font-family: "Lato", "tahoma", "sans-serif";
}

.bg-primary-color{
    background-color: #050505;
}

.bg-secondary-color{
    background-color: #ece8ea ;
}

.bg-dark-color{
    background-color: rgb(05, 05, 05);
}

.primary-color{
    color: #ffffff;
}

.secondary-color{
    color: #7a7a7a;
}

/* NAVBAR*/
#navbar{
    border-bottom: 1px solid #c1c1c1;
}

#navbar a:hover{
    color: #7455ff;
}

#navbar a.active{
    border-bottom: 1px solid #7455ff;
    color: #7455ff;
}

#navbar .navbar-toggler i{
    color: #ffffff;
    font-size: 2em;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img{
    width: 40px;
}

.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item{
    margin: 0 1em;
    font-size: 1.2em;
    font-weight: 600;
}


/* SLIDER */
#slider{
    margin-top: 5em;
    margin-bottom: 1em;
}

#slider .carousel-caption{
    bottom: 3em;
}

#slider .btn{
    padding: 0.2em 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i{
    color: rgb(226, 207, 255);
    font-size: 3em;
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(177, 177, 177);
    opacity: 0.8;
}

.carousel-indicators .active{
    background-color: #2f00ff;
}

@media(min-width:768px){
    #slider .carousel-caption{
        bottom: 3em;
    }

    #slider .btn{
        padding: 0.6em 1.6em;
        font-size: 1.2em;
    }

    .carousel-indicators {
        bottom: 0.2em;
        padding-bottom: -1em;
    }
}

/*CONTEÚDO*/
#conteudo {
    margin-top: 5em;
    color: #050505;
}


#conteudo h1{
    font-weight: 400;
    font-style: italic;

}

#conteudo h4{
    font-weight: 400;
    margin-top: -5em;
}

#conteudo a{
    text-decoration: none;
    color: #2f00ff;
}

#conteudo a:hover{
    color: #7455ff;
}

#conteudo p{
    font-weight: 600;
}
@media(min-width:768px){
    #conteudo{
        margin-bottom: 2em;
        margin-top: 5em;
    }
}

/*NOTICIAS*/


#noticia{
    margin-bottom: 2em;
    margin-top: -5em;
    padding: 5em 1em;
}

#noticia .card{
    border-radius: 20px;
    margin-bottom: 1em;
    border: 1px solid #7455ff;
    height: 600px;
    max-height: 600px;
    overflow: hidden;
}

#noticia .card p{
    color: #050505;
    font-weight: 500;
    font-size: 1.2em;
}

#noticia .card h5{
    color: #050505;
    font-weight: 600;
    font-size: 1.2em;
}

#noticia img{
    margin: 0.5em;
    padding-top: 0.4em;
    border-radius: 20px;

}

#noticia .card-title{
    margin-bottom: 1em;
}

#noticia .btn{
    padding: 0.8em 1.6em;
    color: #ffffff;
    background-color: #050505;
    border: 1px solid #7455ff;
    font-weight: 600;
    max-width: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#noticia .btn:hover{
    color: #2f00ff;
    background-color: white;
    border: 1px solid #7455ff;
}

@media(min-width:768px){
    #noticia{
        margin-bottom: 2em;
        margin-top: -5em;
    }
}

/*DESENVOLVEDORES*/
#desenvolvedores{
    margin-bottom: 4em;
    margin-top: -5em;
    padding: 5em 1em;
}

#desenvolvedores .card{
    border-radius: 20px;
    margin-bottom: 1em;
    border: 1px solid #7455ff;
    width: 250px;
    height: 500px;
    max-height: 500px;
    overflow: hidden;
}

#desenvolvedores .card p{
    color: #050505;
    font-weight: 500;
    font-size: 1.2em;
}

#desenvolvedores .card h5{
    color: #050505;
    font-weight: 600;
    font-size: 1.2em;
}

#desenvolvedores img{
    margin: 0.5em;
    border-radius: 10px;
    padding-top: 0.4em;
    border-radius: 20px;

}

#desenvolvedores .card-title{
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.7em;
    text-align: center;
}

#desenvolvedores .btn{
    margin-top: 0.5em;
    padding: 0.8em 1.6em;
    color: #ffffff;
    background-color: #050505;
    border: 1px solid #7455ff;
    font-weight: 600;
    max-width: 200px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#desenvolvedores .btn:hover{
    color: #2f00ff;
    background-color: white;
    border: 1px solid #7455ff;
}

#desenvolvedores .dropdown-menu{
    margin-top: 0.5em;
    padding: 0.8em 1.6em;
    color: #ffffff;
    background-color: #ffffff;
    border: 1px solid #7455ff;
    font-weight: 600;
}

#desenvolvedores .dropdown-menu a:hover{
    color: #2f00ff;
    background-color: rgb(245, 245, 245);
    border: 1px solid #7455ff;
}

@media(min-width:768px){
    #desenvolvedores{
        margin-bottom: 2em;
        margin-top: -5em;
    }
}

/*FOOTER TOP*/
#footer{
    padding: 2em 1em;
}

#footer-top{
    margin-bottom: 2em;
}
#footer-top,
#footer-top i{
    color: white;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7455ff;
}

/*FOOTER DETAILS*/
#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details .btn:hover{
    background-color: #2f00ff;
}


#footer-details h4{
    color: #ffffff;
    margin-bottom: 0.5em;
}

#news-container input{
    border: 2px solid #2f00ff ;
}

#links-container li{
    margin-bottom: 0.5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #7455ff;
}

/*FOOTER BOTTOM*/
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

@media(min-width:768px){
    #news-container{
        padding-right: 2em;
    }
    
    #links-container{
        padding-left: 2em;
    }

    #contact-container{
        padding: 0em 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }

    #footer-bottom i{
        font-size: 1.1em;
        margin: 0.8em;
    }
}

